# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
myenv/
venv/
ENV/

# Rasa specific
.rasa/
models/

# Logs
*.log
logs/

# Databases
*.db
*.sqlite3
chroma_db/

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Mac OS
.DS_Store

# Large data files
*.csv
*.json 
# Sensitive files
huggingface_token
*.pth

# Cache and temporary files
__pycache__/
*.pyc
.rasa/
models/

